.consultation {
    padding: 100px 0;
    background-image: url(../../assets/images/consultation-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    &__title, &__txt, &__number, &__link {
        color: $white;
    }
    &__title {
        margin-bottom: 30px;
    }
    &__txt {
        font-size: $md-24;
        line-height: $lh-28;
        color: $white;
    }
    &__number {
        text-decoration: underline;
    }
    &__link {
        padding: 16px 20px;
        border: 2px solid $white;
        border-radius: 2px;
        &:hover {
            transition: all 0.2s ease;
            box-shadow: inset 0px 0px 10px $white;
        }
    }
}